div > p {
	text-align: justify;
}
body{
	background-color: #ddccff;
}
.content-cell {
	background-color: #ff80b3;
	margin-bottom: 15px;
	padding: 10px 15px;
}

.content-cell h2 {
	margin-top: -5px;
}

/* Not XS screen */
@media (min-width:768px){
	#collapsable-nav {
		visibility: hidden;
	}
}

/* XS screen */
@media (max-width:767px){
	
	.navbar-brand {
		margin-left: 15px;
	}
	
	.content-cell {
		margin-left: 15px;
		margin-right: 15px;
	}
	
	#collapsable-nav {
		background-color: #ff80b3;
	}
	
	#nav-list {		
		margin-bottom: 1px;
		margin-top: 0px;
	}
	
	#nav-list li{
		text-align: center;
		border: 1px solid #ff1a75;
		margin-bottom:-1px;
	}
	#nav-list li:hover{
		font-weight: bold;
		background-color: #ff99c2;
	}
}